/* variable defining in css */
:root{
    --red:#ff0000;
}

.nav_items{
    display: inline;
}
.nav_items li{
    display: inline;
    padding-right: 20px;
}
.nav_items a:hover{
    color: red;
}
.nav_items li:hover{
    color: red;
}
nav h1{
    display: inline;
    padding-left: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: gold;
}
*{
    font-family: "Bangers", system-ui;
    font-weight: 100;
}
.header{
    background-image: url(chily.jpg);
    height: 130vh;
    background-position: center;
    background-size: cover;
    margin-top: -10px;
}
.header_texts{
    padding-top: 90px;
    padding-left: 10%;
    color: gold;
}
.header_texts button{
    background-color: gold;
    padding: 10px;
    border-radius: 6px;
}
.menu{
    height: fit-content;
    background-color: black;
    color: gold;
    margin-top: -22px;
    padding-bottom: 70px;
    display: grid;
}
.menu h1{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    
}
.menu_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    font-size: 24px;
}
.menu_items2{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    font-size: 24px;
}
table{
    width: 100%;
    padding: 1em;
}
.menu tr{
    display: flex;
    justify-content: center;
    margin-top:.8em;
}
.menu td:nth-child(1){
    flex:1;
    justify-self: left;
}
.menu td:nth-child(2){
    justify-self: right;
}
.footer{
    margin-top: -20px;
    background-color: black;
    color: white;
    border: 2px solid;
    padding-left: 30px;
    padding-bottom:15px ;
}
a {
    color: gold;
    text-decoration: none;
}
.loc{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0px;
    background-color: gold;
    color: red;
}